<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<br><br><br>
<div *ngIf="logInForm" class = "container">
    <h1>Coolpay API Login</h1>
    <form #loginUser = "ngForm">
      <div class="row">
          <div class="col">
            <h3>Username</h3><input type="text" name="username" placeholder="Username" class="form-control"  ngModel/>
          </div>
          <div class="col">
            <h3>API Key</h3><input type="text" name="apikey" placeholder="API Key" class="form-control"  ngModel/>
          </div>
      </div>
    <br>
    <button (click)="login(loginUser)" class="btn btn-success">Login</button>
  </form>
</div>

<br>

<div *ngIf="!logInForm" class = "container">
    <button (click)="showRecipientOptions()" class="btn btn-danger">Recipient</button>&nbsp;&nbsp;&nbsp;
    <button (click)="showPaymentOptions()" class="btn btn-danger">Payment</button>
</div>

<div *ngIf="recipientForms">
<div class = "container">
    <h1>New Recipient</h1>
    <form #newRecipient = "ngForm">
        <div class="form-group">
          Name:
          <input type="text" class="form-control" name="name" ngModel/>
        </div>
    </form>
    <button (click)="addRecipient(newRecipient)" class="btn btn-success">Add Recipient</button>

    <div *ngIf="addedRecipient">
      <br>
        <table class = "table table-striped table-dark">
          <thead class = "thead-dark">
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{newRecipientWrapper.name}}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <h1>Show Recipient</h1>
    <form #showRecipient = "ngForm">
        <div class="form-group">
          Name:
          <input type="text" class="form-control" name="recipientName" ngModel/>
        </div>
    </form>
    <button (click)="index(showRecipient)" class="btn btn-success">Find Recipient</button>
    <br><br>

    <div *ngIf="showSingleRecipient">
    <table class = "table table-striped table-dark">
      <thead class = "thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{showSingleRecipient.id}}</td>
          <td>{{showSingleRecipient.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>

<div *ngIf="paymentForms">
  <div class = "container">
    <h1>Create Payment</h1>
    <form #newPayment = "ngForm">
        <div class="row">
            <div class="col">
              Amount:
              <input type="number" class="form-control" name="amount" ngModel/>
        </div>
        <div class="col">
          <div class="form-group">
              Currency:
              <input type="text" class="form-control" name="currency" ngModel/>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
              Recipient ID:
              <input type="text" class="form-control" name="recipientId" ngModel/>
          </div>
        </div>
      </div>
    </form>
    <button (click)="addPayment(newPayment)" class="btn btn-success">Send Money</button>
    <br><br>
    <button (click)="showAllPayments()" class="btn btn-success">Show All Payments</button>
  </div>
</div>

  <div *ngIf="showAllPaymentsForm">
    <div class = "container">
    <h1>All Payments</h1>
        <table class = "table table-striped">
          <thead class = "thead-dark">
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Recipient ID</th>
            <th>Status</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let payment of showPayments">
              <td>{{payment.id}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.currency}}</td>
              <td>{{payment.recipient_id}}</td>
              <td>{{payment.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
