<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<div class = "container">
<h1>Create Payment</h1>
<form #newPayment = "ngForm">
      Amount:
      <input type="number" class="form-control" name="amount" ngModel/>
    <div class="form-group">
        Currency:
        <input type="text" class="form-control" name="currency" ngModel/>
    </div>
    <div class="form-group">
        Recipient ID:
        <input type="text" class="form-control" name="recipientId" ngModel/>
    </div>
</form>
<button (click)="addPayment(newPayment)" class="btn btn-success">Send Money</button>


    <table class = "table table-striped">
      <thead class = "thead-dark">
        <h3>All Payments</h3>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Recipient ID</th>
        <th>Status</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let payment of showPayments">
          <td>{{payment.id}}</td>
          <td>{{payment.amount}}</td>
          <td>{{payment.currency}}</td>
          <td>{{payment.recipient_id}}</td>
          <td>{{payment.status}}</td>
        </tr>
      </tbody>
    </table>

  </div>
